.page {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Serif;
}

h2 {
    padding: 10px;
    font-family: Serif;
    color: #bcaaaa;
}

.block_1 h2 {
    background: #5d2835;
}

.block_2 h2 {
    background: #415d45;
}

.block_3 h2 {
    background: #524157;
}

button {
    margin: 6px;
    background: #8b9bb8;
}

button:hover {
    background: #2a6887;
}