.page {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
}

h2 {
    padding: 10px;
    font-family: Arial;
    color: #ffffff;
}

.block_1 h2 {
    background: #000000;
}

.block_2 h2 {
    background: #555555;
}

.block_3 h2 {
    background: #aaaaaa;
}

button {
    margin: 6px;
    background: rgba(241, 241, 241, 0.96);
}

button:hover {
    background: rgba(144, 144, 144, 0.96);
}