<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        link(rel="stylesheet", type="text/css", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
        script(type="text/javascript", src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
        link(rel="stylesheet", type="text/css", href="/stylesheets/main.css")
        link(rel="stylesheet", type="text/css", href="/stylesheets/E-Commerce/layout.css")
        block styles

    body
        include ../main-menu-bar

        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(class=(path === '/eCommerce/' ? 'active' : ''), href="/eCommerce/") Shop
                    if isLoggedIn
                        li.main-header__item
                            a(class=(path === '/eCommerce/cart' ? 'active' : ''), href="/eCommerce/cart") Cart
                        li.main-header__item
                            a(class=(path === '/eCommerce/admin/add-product' ? 'active' : ''), href="/eCommerce/admin/add-product") Add Product
                        li.main-header__item
                            a(class=(path === '/eCommerce/admin/products' ? 'active' : ''), href="/eCommerce/admin/products") Admin Products
                ul.main-header__item-list
                    li.main-header__item
                        a(class=(path === '/eCommerce/login' ? 'active' : ''), href=(isLoggedIn ? "/eCommerce/authenticate/logout" : "/eCommerce/authenticate/login")) #{isLoggedIn ? 'Log Out' : 'Log In'}

        .container
            block content