extends ../../../layouts/main-layout

block styles
    link(rel="stylesheet", type="text/css", href="/stylesheets/team/week06/game.css")

block intro
    p Let's Play a Game. Based on tutorial by Chris DeLeon: https://www.youtube.com/watch?v=xGmXxpIj6vs&feature=youtu.be

block content
    main
        h2 Play Snake!
        .game-area
            canvas(id="gc", width="800", height="400")
            script
                include ../../../../public/scripts/team/week06/snake.js
        h3 High Score: #{highScore}