extends ../../../layouts/E-Commerce/e-commerce-layout

block styles
    link(rel="stylesheet", type="text/css", href="/stylesheets/E-Commerce/form.css")

block content
    main
        h2.form_title Log In
        .form_block
            p.message #{message}
            form.form(action="/eCommerce/authenticate/login", method="POST")
                label(for="email") Email:
                input(type="text", name="email")#email
                label(for="password") Password:
                input(type="password", name="password")#password
                button.btn(type="submit") Log In
            div
                a.btn(type="submit", href="/eCommerce/authenticate/signup") Create Account
            p.error #{errorMessage}