extends ../../../layouts/main-layout

block intro
    p This week we worked on the E-Commerce App

block content
    button.btn-primary(Onclick="window.location.href='/eCommerce'") Go To E-Commerce App